@import "@Stylesheet/Config.css";

.Header {
	.container {
		@apply px-5 py-5;
	}

	a {
		padding: 2px;
		width: 20px;
		height: 20px;

		@apply ease-apple m-1 rounded-full outline-offset-2 transition-all duration-150 outline-none focus-visible:outline-2 focus-visible:outline-green-500;
	}
}
