---
import Base from "@Layout/Base.astro";

import "@Stylesheet/Page/Index.css";
---

<Base Font={["/Font/AlbertSans900.css"]}>
	<div class="flex flex-col">
		<main class="flex grow justify-center">
			<div class="flex grow self-center">
				<div class="container sm:pb-36">
					<div class="text-center">
						<h1 style="font-size: 0;">
							<span class="text-5xl text-blue-500"
								><Fragment set:html={"Software ⚔️"} /></span
							>
							<span class="inline-block text-5xl text-red-500"
								><Fragment set:html={" • "} /></span
							>
							<span class="text-5xl"
								><Fragment set:html={"Cloud ☁️"} /></span
							>
						</h1>
					</div>
				</div>
			</div>
		</main>
	</div>
</Base>
